<aside id="sidebar">

    <ul>
        {% for module in addons().modules().navigation() %}
            <li class="{{ module.active ? 'active' }}">
                <a href="{{ url_to('admin/' ~ module.slug) }}">
                    {{ icon(module.icon) }}
                    <span>{{ trans(module.title) }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

</aside>
