.custom-input {

    > input {

        &:active ~ .c-indicator {
            opacity: 0.4;
            background-color: #0074d9; // :checked color
        }

        &:disabled ~ .c-indicator {
            opacity: 0.4;
        }
    }
}

.custom-checkbox {
    margin-bottom: 0;
}

.custom-select {
    line-height: 1;
    padding: 0.6rem 1.75rem 0.6rem 0.75rem;
}
