body.modal-open {
    overflow: visible;
}

.modal {
    overflow: hidden;

    &.fade .modal-dialog {
        transition: transform .3s ease-out;
    }

    .modal-content {
        min-height: 100px;
    }
}

.modal-loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
}

.modal-dialog.modal-wide {
    width: auto;
    margin: 30px;
}
