html,
body {
    height: 100%;
    background-color: $gray-alpha;
    background-size: 100px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('{{ img("theme::img/icon-watermark.svg").path }}');
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0, 0, 0, .05) 0 0 1px;

    &:focus {
        outline: none !important;
    }
}
