#wrapper
{
    display:flex;
    min-height:100vh;
}
#main,#navigation
{
    overflow: hidden;
    overflow-y: auto;
}
#main
{
    flex: 0 0 80vw;
    max-width: 80vw;
}
#navigation
{
    flex: 0 0 20vw;
    max-width: 20vw;
}
