body.display--compact {
    font-size: 14px;
    &.expand {
        #topbar {
            .topbar-left {
                width: 220px !important;
            }
        }
    }
    
    @media (min-width: 992px) {
        h1,
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
        h4,
        h5,
        h6 {
            font-size: 16px;
        }
        .card-block {
            padding: .5rem 1.25rem;
        }
        .form .field-group {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }
        hr {
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        .control-label + .text-muted,
        .control-label + .text-muted + .help-block {
            font-size: 13px;
            font-style: italic;

            position: relative;
            top: -.5rem;

            margin-bottom: .3rem;
        }
        .control-label + .text-muted + .help-block .text-warning {
            font-size: 13px;
            font-style: normal;
        }
        #topbar {
            .topbar-left {
                width: 50px;
            }
        }
        #main #buttons,
        .card {
            margin-bottom: 1rem;
        }
        #menu,
        #sidebar {
            ul li:first-child {
                margin-top: 7px;
            }
            ul li a {
                font-size: 15px;
                line-height: 1.5;

                margin-top: 0;
                margin-bottom: 0;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        #sidebar {
            width: 50px;
            &.open,
            &.hover:hover {
                width: 220px !important;
                a {
                    padding-left: 15px;
                }
            }
        }
        #menu {
            left: 50px;
        }
        #main {
            margin-left: 220px;
        }
        label.switch__label {
            margin-bottom: 0;
        }
        .table {
            td {
                padding: 0.3rem 0.75rem;
            }
        }
        .form-control {
            font-size: 0.9rem;
        }
        .custom-select, select.form-control:not([size]):not([multiple]) {
            height: calc(2.3rem - 2px);
        }
    }
}

body.sidebars--static {
    @media (min-width: 992px) {
        #sidebar {
            width: 240px !important;
            ul li a {
                display: flex;

                padding-left: 10px;
            }
            ul li a .title {
                display: block;
            }
        }

        #menu {
            left: 240px;
        }

        #main {
            margin-left: 410px;
        }

        #footer {
            margin-left: 410px;
        }
    }
}
