#main {
    overflow: hidden;
    padding-top: 70px;
    margin-left: 240px;
    background-size: 100px auto;
    background-repeat: no-repeat;
    transition: min-height 100ms;
    background-position: center 40vh;
    background-image: url('{{ img("theme::img/icon-watermark.svg").path }}');
}

@include media-breakpoint-down(md) {
    #main {
        margin-left: 0;
    }
}
