#menu {
    top: 70px;
    bottom: 0;
    left: 70px;
    z-index: 2;
    width: 170px;
    height: 100%;
    margin-top: 0;
    position: fixed;
    overflow-x: scroll;
    background: #333333;
    padding-bottom: 70px;
    box-shadow: 2px 0 0 rgba(66, 66, 66, 0.1);

    > ul {
        padding: 0;
        margin-bottom: 70px;

        > li {
            width: 100%;

            > a {
                height: 100%;
                display: block;
                font-size: 18px;
                padding: 0 10px;
                margin: 8px 10px;
                line-height: 39px;
                position: relative;
                white-space: nowrap;
                color: rgba(255, 255, 255, 0.3);

                span {
                    margin-left: 7px;
                }

                &:hover,
                &:focus,
                &:active {
                    color: #eeeeee;
                }
            }

            &.active {
                a {
                    color: #eeeeee;
                }
            }
        }
    }
}

body.compact {
    #sidebar {
        width: 70px !important;

        a {
            text-align: center;

            span {
                display: none;
            }

            &:hover {
                span {
                    // The hover tooltips
                    //display: block;
                }
            }
        }
    }
}
