#topbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    position: fixed;
    background: #ffffff;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);

    .topbar-left {
        z-index: 1;
        float: left;
        width: 70px;
        height: 70px;
        position: relative;
        text-align: center;
        background-color: #f5f5f5;
    }

    .logo {
        font-size: 17px;
        font-weight: bold;
        line-height: 70px;
        letter-spacing: .05em;
        color: #212121 !important;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;

        span {
            display: none;
        }

        svg {
            width: 22px;
            height: 40px;
            margin-top: -9px;
            vertical-align: middle;

            .st0 {
                transition: fill 300ms 500ms;
            }
        }

        small {
            font-size: 10px;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.2);
        }
    }

    .button-menu-mobile {
        border: none;
        color: #888888;
        cursor: pointer;
        font-size: 21px;
        padding: 0 15px;
        line-height: 70px;
        background: transparent;
    }

    .navbar-form {
        border: none;
        box-shadow: none;

        .form-group {
            margin-bottom: 0;
            margin-top: .5rem;
        }
    }

    .btn-search {
        display: none;
    }

    .search-bar {
        height: 50px;
        color: #212121;
        font-size: 14px;
        margin-top: 3px;
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .navbar-default {
        padding: 0;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
        background-color: #ffffff;
    }

    .nav {
        > li {

            .dropdown-menu {
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                &:before {
                    top: -7px;
                    left: 9px;
                    content: '';
                    position: absolute;
                    display: inline-block;
                    border-bottom: 7px solid #cccccc;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom-color: rgba(0, 0, 0, 0.2);
                }

                &:after {
                    content: '';
                    top: -6px;
                    left: 10px;
                    position: absolute;
                    display: inline-block;
                    border-bottom: 6px solid white;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                }

                &.dropdown-menu-right {

                    &:before {
                        right: 24px;
                        left: unset;
                    }

                    &:after {
                        right: 25px;
                        left: unset;
                    }
                }

                .dropdown-item {
                    display: block;

                    i {
                        color: #a8a8a8;
                        margin-right: .4rem;
                    }

                    a {
                        display: block;
                    }
                }

                .notification-title {
                    color: #000000;
                    font-size: 16px;
                    font-weight: 400;
                    text-align: center;
                    padding: 5px 0 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }

                .list-group {
                    margin-bottom: 0;

                    .list-group-item {
                        border: none;
                        border-radius: 0;
                        padding: 10px 20px;

                        &:last-child {
                            text-align: center;
                        }
                    }
                }
            }

            > a {
                padding: 0 15px;
                line-height: 70px;
                position: relative;
                color: #333333 !important;
            }
        }
    }
}

body.expand {
    #topbar {
        .topbar-left {
            width: 240px !important;

            .logo {
                span {
                    margin-left: 4px;
                    display: inline-block;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    body.expand {
        #topbar {
            .topbar-left {
                width: 50% !important;
            }
        }
    }
}
