#topbar
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;

    background: #fff;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, .2);
    .topbar-left
    {
        position: relative;
        z-index: 1;

        float: left;

        width: 70px;
        height: 70px;

        text-align: center;

        background-color: #f5f5f5;
    }
    .logo
    {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: bold;
        line-height: 70px;

        letter-spacing: .05em;
        text-transform: uppercase;

        color: #212121 !important;
        span
        {
            display: none;
        }
        svg
        {
            width: 22px;
            height: 40px;
            margin-top: -9px;

            vertical-align: middle;
            .st0
            {
                transition: fill 300ms 500ms;
            }
        }
        small
        {
            font-size: 10px;
            font-weight: normal;

            color: rgba(0, 0, 0, .2);
        }
    }
    .button-menu-mobile
    {
        font-size: 21px;
        line-height: 70px;

        padding: 0 15px;

        cursor: pointer;

        color: #888;
        border: none;
        background: transparent;
    }
    .navbar-form
    {
        border: none;
        box-shadow: none;
        .form-group
        {
            height: 70px;
            margin: 0;
        }
    }
    .btn-search
    {
        display: none;
    }
    .search-bar
    {
        font-size: 14px;

        height: 70px;

        color: #212121;
        border: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
    .navbar-default
    {
        margin-bottom: 0;
        padding: 0;

        border: none;
        border-radius: 0;
        background-color: #fff;
    }
    .nav
    {
        > li
        {
            margin-left: 0;
            .dropdown-menu
            {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                &:before
                {
                    position: absolute;
                    top: -7px;
                    left: 9px;

                    display: inline-block;

                    content: '';

                    border-right: 7px solid transparent;
                    border-bottom: 7px solid #ccc;
                    border-bottom-color: rgba(0, 0, 0, .2);
                    border-left: 7px solid transparent;
                }
                &:after
                {
                    position: absolute;
                    top: -6px;
                    left: 10px;

                    display: inline-block;

                    content: '';

                    border-right: 6px solid transparent;
                    border-bottom: 6px solid white;
                    border-left: 6px solid transparent;
                }
                &.dropdown-menu-right
                {
                    &:before
                    {
                        right: 24px;
                        left: unset;
                    }
                    &:after
                    {
                        right: 25px;
                        left: unset;
                    }
                }
                .dropdown-item
                {
                    display: block;
                    i
                    {
                        margin-right: .4rem;

                        color: #a8a8a8;
                    }
                    a
                    {
                        display: block;
                    }
                }
                .notification-title
                {
                    font-size: 16px;
                    font-weight: 400;

                    padding: 5px 0 10px;

                    text-align: center;

                    color: #000;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                }
                .list-group
                {
                    margin-bottom: 0;
                    .list-group-item
                    {
                        padding: 10px 20px;

                        border: none;
                        border-radius: 0;
                        &:last-child
                        {
                            text-align: center;
                        }
                    }
                }
            }
            > a
            {
                line-height: 70px;

                position: relative;

                padding: 0 15px;

                color: #888 !important;
            }
        }
    }
}

body.expand
{
    #topbar
    {
        .topbar-left
        {
            width: 240px !important;
            .logo
            {
                span
                {
                    display: inline-block;

                    margin-left: 4px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm)
{
    body.expand
    {
        #topbar
        {
            .topbar-left
            {
                width: 50% !important;
            }
        }
    }
}


////////////////////////////////////////////////////////////////////////////////
// Search Results
////////////////////////////////////////////////////////////////////////////////
#topbar .search
{
    

    @include media-breakpoint-up(lg) {
    
        position: relative;
        
    }
    
    .search__results
    {
        top: calc(100% - 2px);

        overflow-y: auto;

        width: 100vw;
        max-height: calc(100vh - 70px);
        padding: 1rem 0;

        border: 0;
        border-top: 1px solid #f5f5f5;
        -webkit-border-radius: 0 0 0 0;
                border-radius: 0 0 0 0;
        -webkit-box-shadow: 0 20px 7px -8px rgba(100,100,100,.3);
                box-shadow: 0 20px 7px -8px rgba(100,100,100,.3);

        @include media-breakpoint-up(lg)
        {
            width: auto;
            border:1px solid #f5f5f5;
        }
    }
}
