@mixin variants() {

    /*.variant-0-logo .st0, */
    .variant-0 .logo .st0 {
        fill: #2cb5e8 !important;
    }

    .variant-0 .variant-border {
        border-color: #2cb5e8 !important;
    }

    .variant-0 .variant-color, .variant-0-color {
        color: #2cb5e8 !important;
    }

    .variant-0 .variant-background, .variant-0-background {
        background: linear-gradient(141deg, #2cb5e8 0%, #6369c0 75%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-1-logo .st0, */
    .variant-1 .logo .st0 {
        fill: #8726df !important;
    }

    .variant-1 .variant-border {
        border-color: #8726df !important;
    }

    .variant-1 .variant-color, .variant-1-color {
        color: #11bef6 !important;
    }

    .variant-1 .variant-background, .variant-1-background {
        background: linear-gradient(141deg, #11bef6 0%, #8726df 95%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-2-logo .st0, */
    .variant-2 .logo .st0 {
        fill: #0fb8ad !important;
    }

    .variant-2 .variant-border {
        border-color: #0fb8ad !important;
    }

    .variant-2 .variant-color, .variant-2-color {
        color: #0fb8ad !important;
    }

    .variant-2 .variant-background, .variant-2-background {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-3-logo .st0, */
    .variant-3 .logo .st0 {
        fill: #c61db4 !important;
    }

    .variant-3 .variant-border {
        border-color: #c61db4 !important;
    }

    .variant-3 .variant-color, .variant-3-color {
        color: #b21cc3 !important;
    }

    .variant-3 .variant-background, .variant-3-background {
        background: linear-gradient(141deg, #c61db4 0%, #b21cc3 51%, #a21acf 75%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-4-logo .st0, */
    .variant-4 .logo .st0 {
        fill: #47d165 !important;
    }

    .variant-4 .variant-border {
        border-color: #47d165 !important;
    }

    .variant-4 .variant-color, .variant-4-color {
        color: #bbee61 !important;
    }

    .variant-4 .variant-background, .variant-4-background {
        background: linear-gradient(141deg, #bbee61 0%, #47d165 95%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-5-logo .st0, */
    .variant-5 .logo .st0 {
        fill: #c82ecb !important;
    }

    .variant-5 .variant-border {
        border-color: #c82ecb !important;
    }

    .variant-5 .variant-color, .variant-5-color {
        color: #e3488b !important;
    }

    .variant-5 .variant-background, .variant-5-background {
        background: linear-gradient(141deg, #e3488b 0%, #c82ecb 51%, #b224d7 75%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-6-logo .st0, */
    .variant-6 .logo .st0 {
        fill: #ff3160 !important;
    }

    .variant-6 .variant-border {
        border-color: #ff3160 !important;
    }

    .variant-6 .variant-color, .variant-6-color {
        color: #ff3160 !important;
    }

    .variant-6 .variant-background, .variant-6-background {
        background: linear-gradient(141deg, #ff754b 0%, #ff3160 75%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-7-logo .st0, */
    .variant-7 .logo .st0 {
        fill: #8474ec !important;
    }

    .variant-7 .variant-border {
        border-color: #8474ec !important;
    }

    .variant-7 .variant-color, .variant-7-color {
        color: #0fdafd !important;
    }

    .variant-7 .variant-background, .variant-7-background {
        background: linear-gradient(141deg, #0fdafd 0%, #01a5fb 51%, #8474ec 100%) !important;
    }

    // --------------------------------------------------------------------------------

    /*.variant-8-logo .st0, */
    .variant-8 .logo .st0 {
        fill: #7ddd81 !important;
    }

    .variant-8 .variant-border {
        border-color: #7ddd81 !important;
    }

    .variant-8 .variant-color, .variant-8-color {
        color: #7ddd81 !important;
    }

    .variant-8 .variant-background, .variant-8-background {
        background: linear-gradient(141deg, #daf32a 0%, #7ddd81 60%, #2ac4dd 100%) !important;
    }
}
