#login {
    height: 100%;
    min-width: 0;

    &.success {
        .logo-container {
            left: -50%;
        }

        .login-container {
            right: -50%;
        }
    }

    .logo-container {
        left: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        background: #1f1f1f;
        transition: left 300ms 500ms;

        .logo {
            color: #ffffff;
            font-size: 6rem;
            margin-top: 40vh;
            font-weight: bold;
            text-align: center;
            font-family: 'Montserrat', sans-serif;

            span {
                font-size: 1.5rem;
                margin-left: 1rem;
                font-weight: normal;
                color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .login-container {
        right: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        transition: right 300ms 500ms;

        -webkit-animation: LoginBackground 30s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        -moz-animation: LoginBackground 30s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: LoginBackground 30s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        background-size: 200% 200%;

        @-webkit-keyframes LoginBackground {
            0% {
                background-position: 58% 0;
            }
            50% {
                background-position: 43% 100%;
            }
            100% {
                background-position: 58% 0;
            }
        }
        @-moz-keyframes LoginBackground {
            0% {
                background-position: 58% 0;
            }
            50% {
                background-position: 43% 100%;
            }
            100% {
                background-position: 58% 0;
            }
        }
        @keyframes LoginBackground {
            0% {
                background-position: 58% 0;
            }
            50% {
                background-position: 43% 100%;
            }
            100% {
                background-position: 58% 0;
            }
        }

        .login-wrapper {
            margin-top: 40vh;

            input {
                border: 0;
                outline: 0;
                padding: 0 10px;
                border-radius: 3px;
            }
        }
    }
}
