<!doctype html>

<html>

<head>
    {% block metadata deferred %}
    {% include "theme::partials/metadata" %}
    {% endblock %}
</head>

<body class="variant-{{ random(8) }}" data-variants="8">

{#{% include "theme::partials/push" %}#}
{#{% include "theme::partials/brand" %}#}
{#{% include "theme::partials/navbar" %}#}
{#{% include "theme::partials/header" %}#}
<div canvas="container">

    <section id="app">

        {% include "theme::partials/topbar" %}
        {% include "theme::partials/sidebar" %}
        {% include "theme::partials/menu" %}

        <main id="main">

            {{ breadcrumb() }}

            <div class="container-fluid">
                {% include "theme::partials/messages" %}
                {% include "theme::partials/buttons" %}
            </div>

            {% block content %}{% endblock %}

        </main>

    </section>

    {% include "theme::partials/footer" %}

</div>

{% include "theme::partials/modals" %}
{% include "theme::partials/js" %}

{# Mobile navigation wrapper as well as script to init slidebars #}
{% include "theme::partials/mobile-navigation" %}

</body>
</html>
